
<h2>Make your calculation here </h2>
<div class="field">
  <input class="input" [(ngModel)]='field1' type="number" name="field1" placeholder="Enter the first number">
  <input class="input" [(ngModel)]='field2' type="number" name="field2" placeholder="Enter the second number">
</div>
<div class="btn-div">
<button class="btn" (click)='sum()'>Sum</button>
<button class="btn" (click)='Substract()'>Substract</button>
<button class="btn" (click)='Multiply()'>Multiply</button>
<button class="btn" (click)='Divide()'>Divide()</button>
</div>

<div class="result">
  <h3>the result is :</h3>
  <label>{{result}}</label>
</div>
